.activityTable {
  width: auto;
  height: 500px;
  margin-bottom: 15px;
}

.cellHeader,
.cellSize {
  font-size: 16px;
}

.dates {
  height: 100%;
  width: 255px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bigPlayerActivity {
  width: 216px;
  display: flex;
  align-items: center;
  .nickName {
    margin-left: 10px;
    font-size: 16px;
  }
}

.addPlayer {
  height: 268px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .skin {
    height: 192px;
    width: 96px;
    image-rendering: pixelated;
  }
  .nickInput {
    text-align: center;
  }
}

.modalFooter {
  width: 100%;
  display: flex;
  :first-child {
    margin-right: auto;
  }
}

.mobile_buttons {
  width: 295px;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mobile_activity {
  width: 305px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: var(--rs-bg-card);
  padding: 15px;
  padding-top: 1px;
  border-radius: 6px;
}

.mobile_activity_zone {
  width: 305px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile_player {
  display: flex;
  align-items: center;
  .mobile_name {
    margin-left: 10px;
  }
  margin-top: 10px;
  margin-bottom: 10px;
}

.mobile_data {
  display: flex;
  align-items: center;
  margin-top: 5px;
  border-bottom: 1px solid var(--rs-border-secondary);
}

.mobile_row {
  width: 50%;
}

.loading {
  opacity: 0.4;
}
